<div class="col-xs-8 col-xs-offset-2">
  <h1 style="text-align:center">COURSE LIST</h1>
  <table class="table table-striped">
    <tr>
      <th>
        <div class="col-xs-4">
          Course Name
        </div>
        <div class="col-xs-4">
          Price
        </div>
        <div class="col-xs-4">
          Duration
        </div>
      </th>
    </tr>
    <tr *ngFor="let c of GetCourse(); index as i;">
      <td>
        <div class="col-xs-4">
          {{c.nama}}
        </div>
        <div class="col-xs-4">
          {{c.biaya}}
        </div>
        <div class="col-xs-4">
          {{c.durasi}}
        </div>
      </td>
    </tr>
  </table>
</div>

<div class="col-xs-8 col-xs-offset-2">
  <h3 style="text-align:center">New Course</h3>
  <table class="table">
    <tr>
      <th>
        <div class="col-xs-3">
          <input type="text" placeholder="Course Name" [(ngModel)]="api.nama">
        </div>
        <div class="col-xs-3">
          <input type="text" placeholder="Price" [(ngModel)]="api.biaya">
        </div>
        <div class="col-xs-3">
          <input type="text" placeholder="Duration" [(ngModel)]="api.durasi">
        </div>
        <div class="col-xs-3">
          <button type="submit" class="btn btn-default" (click)="AddCourse()">Add</button>
        </div>
      </th>

    </tr>
  </table>
</div>
